streamlit==1.31.0
streamlit-webrtc==0.47.7
streamlit-image-comparison==0.0.4
opencv-python-headless==4.9.0.80
ultralytics==8.1.0
torch==2.3.0
torchvision==0.18.0
av==10.0.0
numpy==1.26.4
pillow==10.2.0
streamlit-option-menu==0.3.12